<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    @Styles.Render("~/Content/css")

    <title>@ViewBag.Title</title>
</head>
<body>

    @{
        string actionName = ViewContext.RequestContext.RouteData.Values["action"].ToString();
        string controllerName = ViewContext.RequestContext.RouteData.Values["controller"].ToString();
    }

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home", new {area = " "})">
                    JDunkerleyTableau - @ViewBag.Title
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(controllerName == "Home" ? "active" : "")">@Html.ActionLink("Quandl", "Index", "Home")</li>
                    <li class="@(controllerName == "Bikes" ? "active" : "")">@Html.ActionLink("TfL Bikes", "Index", "Bikes")</li>
                    @*<li class="@(controllerName == "Moves" ? "active" : "")">@Html.ActionLink("Moves App", "Index", "Moves")</li>*@
                </ul>
            </div>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="http://www.jdunkerley.co.uk">James Dunkerley</a></p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>

    @Scripts.Render("~/bundles/js")

    <script src="~/Scripts/tableauwdc-1.1.0.js"></script>
    @Scripts.Render("~/bundles/tableau")

    @if (Request != null && Request.Url != null && Request.Url.IsLoopback)
    {
        <script type="text/javascript">

            jdunkerley.utils.consoleLog = jdunkerley.utils.loopBackLog;
            jdunkerley.utils.showAuditLog = true;

        </script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
